* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}
body {
	background-color: #FFFFE8;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/jute2.jpg);
	font-size: 1em;
}

.disableScroll{
      overflow-y:hidden;
      overflow-x:hidden;
}
#outerWrapper {
	block-size: 400px;
	height: 100%;
	width: 100%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 60px;
	top: 30px;
	
}

.header {
	background-color: #FFF;
	height: 70px;
	box-shadow: 0px 5px 5px #444;
	width: 100%;
	padding-top: 20px;
	position: fixed;
	z-index: 100;
	opacity: 0.7;
	margin-top: -30px;
}

.header h1 {
	text-align: center;
	color: #000;
	font-size: 2.5em;
}

#noOverlap {
	clear: both;
	height: 20px;
}


#container {
	height: 600px;
	margin: auto 200px -33%;
	overflow: auto;
	scrollbar-width: none;
}
#left  {
	width: 280px;
	float: left;
}
#right {
	width: 280px;
	float: left;
}
#middle {
	width: 280px;
	float: left;
}
.linkbox {
	border-radius: 10px 30px 15px;
	box-shadow: 5px 5px 5px #444;
	opacity: 0.7;
	width: 228px;
	text-decoration: none;
	border: 1px solid #CCC;
	background-color: #FFF;
	float: left;
	margin-bottom: 5px;
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 25px;
	margin-left: 14px;
	transition: transform .3s;
}

.linkbox:hover {
	transform: scale(1.06);
}
a:link, a:visited {
	color: #333;
	text-decoration: none;
	font-size: .9em;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
.linkbox h2 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-size: 1.3em;
}
#footer {
	clear: both;
	width: 840px;
	text-align: center;
	font-size: 0.8em;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #666;
	height: 20px;
}

